<h1> sign up </h1>
<form action='/addUser' method='post'>

<p>username</p>
<input type='text' name='username'/>
<br>
<br>
<p>email</p>
<input type='text' name='email'/>
<br>
<br>
<br>
<br>
<input type='submit' value='sign up'>
</form>
